@font-face {
  font-family: Manrope;
  src: url("./fonts/manrope.ttf");
}
:root {
  --theme: #e8602d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* NAVBAR START  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}
.logo p {
  color: white;
  font-weight: 100;
  font-size: 16px;
  line-height: 16px;
}
.links {
  /* background-color: red; */
  border: 1px solid rgba(128, 128, 128, 0.631);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  gap: 30px;
}
.links p {
  color: rgb(214, 212, 212);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.links .active {
  color: white;
}
.sign-in p {
  color: white;
}
/* NAVBAR END  */

/* HERO STARt  */
.hero {
  width: 100%;
  height: 150vh;
  background-color: rgb(0, 0, 0);
}
.hero .header {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero .header h2 {
  font-size: 18px;
  color: var(--theme);
  font-weight: 400;
}
.hero .header h1 {
  font-size: 55px;
  color: white;
  font-weight: 400;
}
.hero .header h1 span {
  font-size: 55px;
  padding: 0 4px;
  border: 1px solid var(--theme);
  font-weight: 400;
  background-color: #e85f2d3f;
}
.hero .header p {
  margin-top: 20px;
  text-align: center;
  font-size: 21px;
  color: rgb(204, 204, 204);
}
.hero .header div div {
  display: flex;
  gap: 8px;
}
.hero .header div div p:first-child {
  color: var(--theme);
}
.hero .header div div p {
  font-size: 14px;
}
.hero .header .cta {
  background: linear-gradient(to right, #e8602f, #a03f1c);
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 30px;
}

.hero .video {
  width: 70%;
  height: 80vh;
  margin: auto;
  background-color: rgba(65, 65, 65, 0.527);
  margin-top: 5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .video p {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.357);
}
/* HERO END  */
/* FUTURE START  */
.future {
  width: 100%;
  height: 200vh;
  background-color: rgb(0, 0, 0);
}
.future h2 {
  width: fit-content;
  margin: auto;
  font-size: 80px;
  color: white;
  text-align: center;
  position: sticky;
  top: 80%;
  transform: translateX(100px);
}
/* FUTURE END  */

.courses {
  width: 100%;
  height: 300vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff3ef;
  padding: 120px 70px;
}
.courses .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.courses .header h2 {
  text-align: center;
  font-size: 45px;
  font-family: Manrope;
  font-weight: 500;
}
.courses .header h2 span {
  color: var(--theme);
}
.courses .header button {
  background: linear-gradient(to right, #e85f2d, #f29c7e);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.courses .card1 {
  width: 100%;
  height: 34rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(207, 207, 207);
  margin-top: 30px;
  border-radius: 25px;
  position: sticky;
  top: 15%;
  z-index: 0;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.pic {
  background-color: rgb(185, 185, 185);
  height: 100%;
  width: 40%;
  border-radius: inherit;
}
.text {
  /* background-color: red; */
  height: 100%;
  width: 60%;
  border-radius: inherit;
}
.courses .card2 {
  width: 100%;
  height: 34rem;
  background-color: var(--theme);
  margin-top: 30px;
  border-radius: 25px;
  position: sticky;
  top: 15%;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.courses .card3 {
  width: 100%;
  height: 34rem;
  background-color: black;
  margin-top: 30px;
  position: sticky;
  top: 15%;
  border-radius: 25px;
  z-index: 15;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.testimonial {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
